HELP.md
/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/
khetao-shop.log
component/khetao-cache/target/generated-sources/
component/khetao-cache/target/generated-test-sources/
component/khetao-config/src/
component/khetao-config/target/
component/khetao-mq/src/test/
component/khetao-mq/target/generated-sources/
component/khetao-mq/target/generated-test-sources/
component/khetao-mq/target/test-classes/
component/khetao-search/src/main/
component/khetao-search/src/test/resources/
component/khetao-search/target/
component/khetao-session/src/main/resources/
component/khetao-session/src/test/
component/khetao-session/target/
component/khetao-socket/src/
component/khetao-socket/target/
component/khetao-storage/khetao-storage-base/src/test/
component/khetao-storage/khetao-storage-base/target/generated-sources/
component/khetao-storage/khetao-storage-qiniu/target/generated-sources/
component/khetao-storage/khetao-storage-qiniu/target/generated-test-sources/
core/khetao-base/khetao-base-core/src/test/
core/khetao-base/khetao-base-core/target/generated-sources/
core/khetao-base/khetao-base-service/src/test/
core/khetao-base/khetao-base-service/target/generated-sources/
core/khetao-base/target/
core/khetao-common/src/test/
core/khetao-common/target/generated-sources/
core/khetao-generator/src/main/java/com/khetao/serve/basic/entity/
core/khetao-generator/src/main/java/com/khetao/serve/basic/mapper/
core/khetao-generator/src/main/java/com/khetao/serve/basic/service/
core/khetao-generator/src/main/java/com/khetao/serve/product/entity/
core/khetao-generator/src/main/java/com/khetao/serve/product/mapper/
core/khetao-generator/src/main/java/com/khetao/serve/product/service/
core/khetao-generator/src/main/java/com/khetao/serve/shop/entity/
core/khetao-generator/src/main/java/com/khetao/serve/shop/mapper/
core/khetao-generator/src/main/java/com/khetao/serve/shop/service/
core/khetao-generator/src/main/resources/mapper/
core/khetao-generator/src/test/
core/khetao-generator/target/generated-sources/
publish/khetao-auth/src/main/java/com/khetao/auth/filter/
publish/khetao-auth/src/main/java/com/khetao/auth/interceptor/
publish/khetao-auth/src/main/resources/
publish/khetao-auth/src/test/
publish/khetao-auth/target/generated-sources/
publish/khetao-cowry/src/test/
publish/khetao-cowry/target/
publish/khetao-gateway/src/test/
publish/khetao-gateway/target/
publish/khetao-luma/src/test/
publish/khetao-luma/target/
serve/khetao-basic/khetao-serve-basic-client/src/test/
serve/khetao-basic/khetao-serve-basic-service/src/test/
serve/khetao-basic/khetao-serve-basic/src/main/resources/
serve/khetao-basic/khetao-serve-basic/src/test/
serve/khetao-basic/khetao-serve-basic/target/
serve/khetao-product/khetao-serve-product-client/src/main/java/
serve/khetao-product/khetao-serve-product-client/src/test/
serve/khetao-product/khetao-serve-product-service/target/generated-sources/
serve/khetao-product/khetao-serve-product-service/target/generated-test-sources/
serve/khetao-product/khetao-serve-product/src/main/java/com/khetao/serve/product/dto/
serve/khetao-product/khetao-serve-product/src/main/java/com/khetao/serve/product/enums/
serve/khetao-product/khetao-serve-product/src/test/
serve/khetao-product/khetao-serve-product/target/
serve/khetao-shop/khetao-serve-shop-client/src/main/java/com/khetao/serve/shop/controller/common/
serve/khetao-shop/khetao-serve-shop-client/src/test/
serve/khetao-shop/khetao-serve-shop-client/target/generated-sources/
serve/khetao-shop/khetao-serve-shop-service/target/generated-sources/
serve/khetao-shop/khetao-serve-shop-service/target/generated-test-sources/
serve/khetao-shop/khetao-serve-shop/src/main/resources/
serve/khetao-shop/khetao-serve-shop/src/test/
serve/khetao-shop/khetao-serve-shop/target/generated-sources/
serve/khetao-system/khetao-serve-system-client/src/main/java/
serve/khetao-system/khetao-serve-system-client/src/test/
serve/khetao-system/khetao-serve-system-service/src/test/
serve/khetao-system/khetao-serve-system-service/target/generated-sources/
serve/khetao-system/khetao-serve-system/src/main/java/com/khetao/serve/system/dto/
serve/khetao-system/khetao-serve-system/src/main/resources/
serve/khetao-system/khetao-serve-system/src/test/
serve/khetao-system/khetao-serve-system/target/
serve/khetao-trade/khetao-serve-trade-client/src/test/
serve/khetao-trade/khetao-serve-trade-client/target/generated-sources/
serve/khetao-trade/khetao-serve-trade-client/target/generated-test-sources/
serve/khetao-trade/khetao-serve-trade-client/target/test-classes/
serve/khetao-trade/khetao-serve-trade-service/src/
serve/khetao-trade/khetao-serve-trade/src/
