<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.khetao.serve.product.product.mapper.ProductMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.khetao.serve.product.entity.Product">
        <id column="id" property="id" />
        <result column="alias" property="alias" />
        <result column="shop_id" property="shopId" />
        <result column="status" property="status" />
        <result column="title" property="title" />
        <result column="summary" property="summary" />
        <result column="cid" property="cid" />
        <result column="pic_urls" property="picUrls" />
        <result column="prod_type" property="prodType" />
        <result column="sale_type" property="saleType" />
        <result column="sales_volume" property="salesVolume" />
        <result column="origin_price" property="originPrice" />
        <result column="price" property="price" />
        <result column="art_no" property="artNo" />
        <result column="is_show_stock" property="isShowStock" />
        <result column="quantity" property="quantity" />
        <result column="delivery_fee_type" property="deliveryFeeType" />
        <result column="delivery_fee" property="deliveryFee" />
        <result column="delivery_temp_id" property="deliveryTempId" />
        <result column="sale_status" property="saleStatus" />
        <result column="priority" property="priority" />
        <result column="is_del" property="isDel" />
        <result column="auto_putaway_time" property="autoPutawayTime" />
        <result column="message_json" property="messageJson" />
        <result column="brand_id" property="brandId" />
        <result column="is_pre" property="isPre" />
        <result column="ext_id" property="extId" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modify" property="gmtModify" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, alias, shop_id, status, title, summary, cid, pic_urls, prod_type, sale_type, sales_volume, origin_price, price, art_no, is_show_stock, quantity, delivery_fee_type, delivery_fee, delivery_temp_id, sale_status, priority, is_del, auto_putaway_time, message_json, brand_id, is_pre, ext_id, gmt_create, gmt_modify
    </sql>

</mapper>
