<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.khetao.serve.shop.mapper.OauthClientMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.khetao.serve.shop.entity.OauthClient">
        <id column="id" property="id" />
        <result column="client_id" property="clientId" />
        <result column="redirect_uri" property="redirectUri" />
        <result column="client_secret" property="clientSecret" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modify" property="gmtModify" />
        <result column="scope" property="scope" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, client_id, redirect_uri, client_secret, gmt_create, gmt_modify, scope
    </sql>

</mapper>
