<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.khetao.serve.shop.mapper.ShopAuthThirdpartyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.khetao.serve.shop.entity.ShopAuthThirdparty">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="app_name" property="appName" />
        <result column="app_id" property="appId" />
        <result column="access_token" property="accessToken" />
        <result column="refresh_token" property="refreshToken" />
        <result column="nick_name" property="nickName" />
        <result column="sex" property="sex" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modify" property="gmtModify" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, app_name, app_id, access_token, refresh_token, nick_name, sex, gmt_create, gmt_modify
    </sql>

</mapper>
