<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.khetao.serve.shop.mapper.ShopRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.khetao.serve.shop.entity.ShopRole">
        <id column="id" property="id" />
        <result column="role_name" property="roleName" />
        <result column="show_name" property="showName" />
        <result column="intro" property="intro" />
        <result column="status" property="status" />
        <result column="is_del" property="isDel" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modify" property="gmtModify" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ${tb}.`id`, ${tb}.`role_name`, ${tb}.`show_name`, ${tb}.`intro`, ${tb}.`status`, ${tb}.`is_del`, ${tb}.`gmt_create`, ${tb}.`gmt_modify`
    </sql>

    <insert id="allocateUsers">
        INSERT INTO td_shop_user_role(`user_id`, `role_id`, `gmt_create`, `gmt_modify`)
        VALUES
        <foreach collection="userIds" separator="," item="userId">
            (#{userId}, #{roleId}, now(), now())
        </foreach>
    </insert>

    <insert id="allocateUser">
        INSERT INTO td_shop_user_role(`user_id`, `role_id`, `gmt_create`, `gmt_modify`)
        VALUES (#{userId}, #{roleId}, now(), now())
    </insert>


    <delete id="unallocateUser">
        DELETE FROM
          td_shop_user_role
        WHERE role_id = #{roleId} AND user_id = #{userId}
    </delete>

    <delete id="unallocateRoleUsers">
        DELETE FROM
          td_shop_user_role
        WHERE role_id = #{roleId}
    </delete>

    <select id="listUserRoles" resultMap="BaseResultMap">
        SELECT
          <include refid="Base_Column_List">
              <property name="tb" value="r"/>
          </include>
        FROM td_shop_role r, td_shop_user_role ur
        <where>
            AND ur.user_id = #{userId}
            AND r.id = ur.role_id
        </where>
    </select>

</mapper>
